body {
    background-color: #fefcfb;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: #2a3d45
}

img {
    width: 100%;
}

/*ids selectors for each section in my website*/
#hero {
    color: #3e7967;
}

#myProjects {
    color: #fefcfb;
}

#contact-me {
    color: #fefcfb;
}


/*buttons*/
.button {
    display: inline-block;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 800;
}

.primary-button {
    background-color: #3e7967;
    color: #fefcfb;
}

.secondary-button {
    background-color: #fefcfb;
    color: #3e7967;
    border: 2px solid ##3e7967;
}

.button:hover {
    opacity: 80%;
    text-decoration: none;
}

.button:active {
    opacity: 60%;
    text-decoration: none;
}

/*hyperlinks*/
a {
    color:#3e7967;
    text-decoration: none; /*no underline*/
}