/*Layout Styling*/
* {
    box-sizing: border-box;
}

.container {
    padding: 0 16px; /*left and right padding*/
}

.row{
    margin: 32px 0;
}

/*Header and Body Styling*/
header {
    background-color:#3e7967;
    color:#fefcfb;
    text-align: center;
    padding: 12px 0;
    position: fixed;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

body {
    background-color: #fefcfb;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: #2a3d45
}

main {
    padding-top: 107.2px;
}

img {
    width: 100%;
}

/*ids selectors for each section in my website*/
#hero {
    background-color: #3e7967;
    color: #fefcfb;
    padding: 16px 0;
    display: inline-block;
    width: 100%;
    text-align: center;
}

#projects .row {
    padding-bottom: 24px;
    border-bottom: 2px solid #4a4a4a;
}

#skills h3{
    margin: 4px;
}

#skills ul{
    margin-top: 4px;
    margin-bottom: 16px;
}

#contact {
    color: #2a3d45;
}

/*Text Styling*/
.center {
    text-align: center;
}

/*Navigation Styling*/
header a {
    padding: 0 16px;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
}

nav > ul {
    list-style-type: none;
    padding: 0;
}

nav > ul > li {
    display: inline-block;
}

nav > ul > li > a {
    padding: 0 16px;
    text-transform: uppercase;
    font-weight: 700;
}

nav > ul > li > a:visited {
    color: #2a3d45;
}

/*buttons*/
.button {
    display: inline-block;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 800;
}

.primary-button {
    background-color: #3e7967;
    color: #fefcfb;
}

.secondary-button {
    background-color: #fefcfb;
    color: #3e7967;
    border: 2px solid #3e7967;
}

.button:hover {
    opacity: 80%;
    text-decoration: none;
}

.button:active {
    opacity: 60%;
    text-decoration: none;
}

/*Style the social icons*/
.social {
    list-style-type: none;
    padding: 0;
    margin-left: -10px;
  }
  .social li {
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
  }
  .social img {
    height: 32px;
    width: 32px;
  }

/*hyperlinks*/
.header-link {
    color:#fefcfb;
    text-decoration: none;
}

a {
    color:#3e7967;
    text-decoration: none; /*no underline*/
}

/*Media Queries*/
[class*="col-"] {
    float:left;
    padding: 0 16px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
/*Medium Devices*/
@media only screen and (min-width: 640px) {
    header {
        text-align: unset;
        font-size: 18px;
        padding: 24px 0 16px;
    }

    header a{
        display: inline-block;
    }

    nav {
        width: auto;
        float: right;
        margin-top: 4px;
    };

    main {
        padding-top: 80px;
    }

    .col-md-6 {
        width: 50%;
    }

    #hero span{
        display: block;
        font-size: 18px;
    }

}

/*Large Devices (1024px or larger)*/
@media only screen and (min-width: 1024px) {

}

/*X-Large devices (1440px or larger)*/
@media only screen and (min-width: 1440px) {

}



